In [39]:
import collections
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from imblearn.over_sampling import SMOTE, SVMSMOTE
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score,accuracy_score, confusion_matrix, roc_auc_score
from sklearn.model_selection import cross_val_score, cross_validate, StratifiedKFold, GridSearchCV

In [2]:
ls

 application_test.csv             full.csv
 application_train.csv            HomeCredit_columns_description.csv
 bureau_balance.csv               installments_payments.csv
 bureau.csv                       LightGBM.ipynb
 credit_card_balance.csv         'Model Performance.ipynb'
 Data_Exploration_FullSet.ipynb   POS_CASH_balance.csv
 Data_Exploration.ipynb           previous_application.csv
 feat_eng.csv                     sample_submission.csv
 Feature_Eng.ipynb

In [3]:
dataset = pd.read_csv("feat_eng.csv")

In [4]:
dataset.head()

,Unnamed: 0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,...,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_CREDIT_LIMIT_ACTUAL,AMT_CREDIT_y,AMT_CREDIT_x.1,AMT_CREDIT_y.1,AMT_CREDIT
0,0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,...,0.0,0.0,0.0,0.0,1.0,0.0,179055.00,179055.00,179055.00,179055.00
1,1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,...,0.0,0.0,0.0,0.0,0.0,0.0,484191.00,484191.00,484191.00,484191.00
2,2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,20106.00,20106.00,20106.00,20106.00
3,3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,...,NaN,NaN,NaN,NaN,NaN,270000.0,291695.50,291695.50,291695.50,291695.50
4,4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,166638.75,166638.75,166638.75,166638.75

In [5]:
dataset.shape

(307511, 128)

In [6]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Get  columns whose data type is object i.e. string
filteredColumns = dataset.dtypes[dataset.dtypes == np.object]
# list of columns whose data type is object i.e. string
listOfColumnNames = list(filteredColumns.index)
print(listOfColumnNames)

# Label Encoding if there are two categorical labels on a feature)
for col in listOfColumnNames:
    if dataset.dtypes[col] == np.object:
        # If 2 or fewer unique categories
        if len(list(dataset[col].unique())) <= 2:
            # Train on the training data
            le.fit(dataset[col])
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

# One-Hot Encoding (> 2 categorical labels for a feature)
num_dataset = pd.get_dummies(dataset)

['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
3 columns were label encoded.

In [7]:
null_rows = num_dataset[num_dataset.isnull().any(axis=1)]
null_rows

,Unnamed: 0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,...,0,0,0,0,0,0,1,0,1,0
1,1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,...,0,1,0,0,0,0,0,0,1,0
2,2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,...,0,0,0,0,0,0,0,0,0,0
3,3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,...,0,0,0,0,0,0,0,0,0,0
4,4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,307506,456251,0,0,157500.0,254700.0,27558.0,225000.0,0.032561,-9327,...,0,0,0,0,0,0,1,0,1,0
307507,307507,456252,0,0,72000.0,269550.0,12001.5,225000.0,0.025164,-20775,...,0,0,0,0,0,0,1,0,1,0
307508,307508,456253,0,0,153000.0,677664.0,29979.0,585000.0,0.005002,-14966,...,0,0,0,0,0,1,0,0,1,0
307509,307509,456254,1,0,171000.0,370107.0,20205.0,319500.0,0.005313,-11961,...,0,0,0,0,0,0,1,0,1,0
307510,307510,456255,0,0,157500.0,675000.0,49117.5,675000.0,0.046220,-16856,...,0,0,0,0,0,1,0,0,1,0

In [8]:
null_rows.shape

(296892, 252)

What percent of the rows in the data have a null value in at least one column?

In [9]:
null_rows.shape[0]/dataset.shape[0]

0.9654679019612307

97% of the rows have at least one column with a null value. 
How will we handle null values?

In [10]:
dataset.columns

Index(['Unnamed: 0', 'SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE',
       'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT_x',
       ...
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_CREDIT_y',
       'AMT_CREDIT_x.1', 'AMT_CREDIT_y.1', 'AMT_CREDIT'],
      dtype='object', length=128)

In [11]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp = imp.fit(num_dataset)
new_num_dataset = pd.DataFrame(imp.transform(num_dataset))
new_num_dataset.columns = num_dataset.columns
new_num_dataset.index = num_dataset.index
num_dataset = new_num_dataset

null_rows = num_dataset[num_dataset.isnull().any(axis=1)]
null_rows

Empty DataFrame
Columns: [Unnamed: 0, SK_ID_CURR, TARGET, CNT_CHILDREN, AMT_INCOME_TOTAL, AMT_CREDIT_x, AMT_ANNUITY, AMT_GOODS_PRICE, REGION_POPULATION_RELATIVE, DAYS_BIRTH, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH, OWN_CAR_AGE, FLAG_MOBIL, FLAG_EMP_PHONE, FLAG_WORK_PHONE, FLAG_CONT_MOBILE, FLAG_PHONE, FLAG_EMAIL, CNT_FAM_MEMBERS, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, HOUR_APPR_PROCESS_START, REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, LIVE_CITY_NOT_WORK_CITY, EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3, APARTMENTS_AVG, BASEMENTAREA_AVG, YEARS_BEGINEXPLUATATION_AVG, YEARS_BUILD_AVG, COMMONAREA_AVG, ELEVATORS_AVG, ENTRANCES_AVG, FLOORSMAX_AVG, FLOORSMIN_AVG, LANDAREA_AVG, LIVINGAPARTMENTS_AVG, LIVINGAREA_AVG, NONLIVINGAPARTMENTS_AVG, NONLIVINGAREA_AVG, APARTMENTS_MODE, BASEMENTAREA_MODE, YEARS_BEGINEXPLUATATION_MODE, YEARS_BUILD_MODE, COMMONAREA_MODE, ELEVATORS_MODE, ENTRANCES_MODE, FLOORSMAX_MODE, FLOORSMIN_MODE, LANDAREA_MODE, LIVINGAPARTMENTS_MODE, LIVINGAREA_MODE, NONLIVINGAPARTMENTS_MODE, NONLIVINGAREA_MODE, APARTMENTS_MEDI, BASEMENTAREA_MEDI, YEARS_BEGINEXPLUATATION_MEDI, YEARS_BUILD_MEDI, COMMONAREA_MEDI, ELEVATORS_MEDI, ENTRANCES_MEDI, FLOORSMAX_MEDI, FLOORSMIN_MEDI, LANDAREA_MEDI, LIVINGAPARTMENTS_MEDI, LIVINGAREA_MEDI, NONLIVINGAPARTMENTS_MEDI, NONLIVINGAREA_MEDI, TOTALAREA_MODE, OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE, DAYS_LAST_PHONE_CHANGE, FLAG_DOCUMENT_2, FLAG_DOCUMENT_3, FLAG_DOCUMENT_4, FLAG_DOCUMENT_5, FLAG_DOCUMENT_6, FLAG_DOCUMENT_7, FLAG_DOCUMENT_8, FLAG_DOCUMENT_9, FLAG_DOCUMENT_10, FLAG_DOCUMENT_11, FLAG_DOCUMENT_12, FLAG_DOCUMENT_13, FLAG_DOCUMENT_14, FLAG_DOCUMENT_15, FLAG_DOCUMENT_16, FLAG_DOCUMENT_17, FLAG_DOCUMENT_18, FLAG_DOCUMENT_19, FLAG_DOCUMENT_20, ...]
Index: []

[0 rows x 252 columns]

In [12]:
num_dataset.shape

(307511, 252)

In [13]:
num_dataset.head()

,Unnamed: 0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,0.0,100002.0,1.0,0.0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1.0,100003.0,0.0,0.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2.0,100004.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,100006.0,0.0,0.0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,100007.0,0.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
correls = {}
counter = -1
for col in num_dataset.columns:
    counter+=1
    c = num_dataset['TARGET'].corr(num_dataset[col])
    if c is not None:
        correls[col] = float(c)
    else:
        correls[col] = (None)

In [42]:
for w in sorted(correls, key=correls.get, reverse=True):
    print(w, correls[w])

TARGET 1.0
DAYS_BIRTH 0.07823930830984512
REGION_RATING_CLIENT_W_CITY 0.06089266756485737
REGION_RATING_CLIENT 0.05889901494571978
NAME_INCOME_TYPE_Working 0.0574811848183828
DAYS_LAST_PHONE_CHANGE 0.05521847562885774
CODE_GENDER_M 0.054712681971286585
DAYS_ID_PUBLISH 0.051457172607069564
REG_CITY_NOT_WORK_CITY 0.05099446436811681
NAME_EDUCATION_TYPE_Secondary / secondary special 0.04982373084813512
FLAG_EMP_PHONE 0.045982219716588515
REG_CITY_NOT_LIVE_CITY 0.044395374805692424
FLAG_DOCUMENT_3 0.04434634685113139
OCCUPATION_TYPE_Laborers 0.043018954955329355
DAYS_REGISTRATION 0.04197486283142708
LIVE_CITY_NOT_WORK_CITY 0.032518341101488414
DEF_30_CNT_SOCIAL_CIRCLE 0.032221533905931195
DEF_60_CNT_SOCIAL_CIRCLE 0.031251211111733374
NAME_CONTRACT_TYPE_Cash loans 0.0308959081610508
OCCUPATION_TYPE_Drivers 0.030303499914959744
NAME_HOUSING_TYPE_With parents 0.02996585666593896
ORGANIZATION_TYPE_Self-employed 0.0291388161708327
FLAG_WORK_PHONE 0.02852432236322825
OCCUPATION_TYPE_Low-skill Laborers 0.027590818570888118
NAME_FAMILY_STATUS_Single / not married 0.026518182409818954
ORGANIZATION_TYPE_Business Entity Type 3 0.023992520321207068
NAME_FAMILY_STATUS_Civil marriage 0.022496268115702458
FLAG_OWN_CAR_N 0.021850938463830172
OWN_CAR_AGE 0.020871120003292797
ORGANIZATION_TYPE_Construction 0.019791857405874667
NAME_HOUSING_TYPE_Rented apartment 0.01976721214410962
OCCUPATION_TYPE_Sales staff 0.019537264950106138
CNT_CHILDREN 0.019187133596277012
AMT_REQ_CREDIT_BUREAU_YEAR 0.018160138737090614
ORGANIZATION_TYPE_Transport: type 3 0.017551864569601977
OCCUPATION_TYPE_Security staff 0.014648392492753725
OCCUPATION_TYPE_Cooking staff 0.012221887997701745
NAME_EDUCATION_TYPE_Lower secondary 0.011746907779552207
ORGANIZATION_TYPE_Restaurant 0.010265581100006005
ORGANIZATION_TYPE_Industry: type 3 0.009691051180977697
CNT_FAM_MEMBERS 0.009307781738413706
OBS_30_CNT_SOCIAL_CIRCLE 0.009123291153636418
OBS_60_CNT_SOCIAL_CIRCLE 0.009014856730912046
ORGANIZATION_TYPE_Trade: type 3 0.008910974898955345
NAME_INCOME_TYPE_Unemployed 0.00878425539010245
NAME_TYPE_SUITE_Unaccompanied 0.008300874057203025
ORGANIZATION_TYPE_Trade: type 7 0.008169509158980775
WALLSMATERIAL_MODE_Wooden 0.007946354272324258
ORGANIZATION_TYPE_Agriculture 0.007901117983440021
OCCUPATION_TYPE_Waiters/barmen staff 0.0078019037415098975
ORGANIZATION_TYPE_Security 0.0072260721513806225
OCCUPATION_TYPE_Cleaning staff 0.006978888160057187
REG_REGION_NOT_WORK_REGION 0.006941907545371561
ORGANIZATION_TYPE_Industry: type 1 0.0064023403512678545
FLAG_OWN_REALTY_N 0.006148387704571204
ORGANIZATION_TYPE_Transport: type 4 0.005929012434520278
AMT_CREDIT_LIMIT_ACTUAL 0.005732574724626862
REG_REGION_NOT_LIVE_REGION 0.005575944520909705
FLAG_DOCUMENT_2 0.005417144279622634
HOUSETYPE_MODE_specific housing 0.005311049709134791
NAME_TYPE_SUITE_Other_B 0.0049090817911715936
EMERGENCYSTATE_MODE_Yes 0.0048288655122424575
NAME_INCOME_TYPE_Maternity leave 0.004725870316716664
WEEKDAY_APPR_PROCESS_START_TUESDAY 0.0046980548794918
ORGANIZATION_TYPE_Industry: type 4 0.00407422498559908
FLAG_DOCUMENT_21 0.0037086250293095822
ORGANIZATION_TYPE_Realtor 0.0033390796299810105
NAME_HOUSING_TYPE_Municipal apartment 0.003329268603025169
ORGANIZATION_TYPE_Cleaning 0.0032899594962657285
ORGANIZATION_TYPE_Business Entity Type 2 0.0031520375791947667
ORGANIZATION_TYPE_Industry: type 13 0.002904553093279407
LIVE_REGION_NOT_WORK_REGION 0.002819479184160829
NAME_EDUCATION_TYPE_Incomplete higher 0.0028127690501127682
AMT_REQ_CREDIT_BUREAU_DAY 0.002464257538749206
ORGANIZATION_TYPE_Industry: type 11 0.0020086493539236416
WEEKDAY_APPR_PROCESS_START_WEDNESDAY 0.0014474879944804855
ORGANIZATION_TYPE_Industry: type 8 0.001435744697395322
NAME_TYPE_SUITE_Other_A 0.0013715818087856328
ORGANIZATION_TYPE_Mobile 0.0012680907236253748
WEEKDAY_APPR_PROCESS_START_FRIDAY 0.0012025244233664636
NAME_FAMILY_STATUS_Separated 0.0011676491056655297
ORGANIZATION_TYPE_Postal 0.0011253764942914756
ORGANIZATION_TYPE_Trade: type 1 0.001031907645752029
HOUSETYPE_MODE_terraced house 0.00098244712463838
AMT_REQ_CREDIT_BUREAU_HOUR 0.0008478053136974915
AMT_REQ_CREDIT_BUREAU_WEEK 0.0007177649853871376
WALLSMATERIAL_MODE_Others 0.0006282435192434709
FLAG_MOBIL 0.0005343955790284175
NAME_TYPE_SUITE_Group of people 0.0004515676330587105
WEEKDAY_APPR_PROCESS_START_THURSDAY 0.00044588677360371163
FLAG_CONT_MOBILE 0.0003701268023471285
ORGANIZATION_TYPE_Business Entity Type 1 0.00033865065123466956
FLAG_DOCUMENT_20 0.00021539355797588018
ORGANIZATION_TYPE_Advertising 0.00011748220212640181
ORGANIZATION_TYPE_Industry: type 7 -9.40527115091222e-05
ORGANIZATION_TYPE_Legal Services -0.00023598906873782495
NAME_HOUSING_TYPE_Co-op apartment -0.0003123669248032797
FLAG_DOCUMENT_5 -0.0003157774166464849
OCCUPATION_TYPE_Realty agents -0.00039357160127503535
ORGANIZATION_TYPE_Housing -0.00046423957385055445
ORGANIZATION_TYPE_Industry: type 6 -0.0006516526920765057
ORGANIZATION_TYPE_Telecom -0.0007118068865138363
NAME_FAMILY_STATUS_Unknown -0.0007557507043572336
FLAG_DOCUMENT_12 -0.0007557507043572457
NONLIVINGAPARTMENTS_MODE -0.0008013717943978582
ORGANIZATION_TYPE_Transport: type 2 -0.0008386382341145
ORGANIZATION_TYPE_Trade: type 5 -0.0009038517880429523
CODE_GENDER_XNA -0.0010687963715410656
ORGANIZATION_TYPE_Industry: type 10 -0.001141129604135118
ORGANIZATION_TYPE_Industry: type 2 -0.0012300716107096485
WEEKDAY_APPR_PROCESS_START_SUNDAY -0.0012442896206998379
ORGANIZATION_TYPE_Religion -0.001337063552347568
FLAG_DOCUMENT_19 -0.001357518324302234
FLAG_DOCUMENT_10 -0.0014138915975242055
NONLIVINGAPARTMENTS_MEDI -0.0014194762308888714
NAME_TYPE_SUITE_Spouse, partner -0.0014478284948364352
ORGANIZATION_TYPE_Emergency -0.0014582026891077826
FLAG_DOCUMENT_7 -0.001519503160087939
NONLIVINGAPARTMENTS_AVG -0.0016351708895813526
NAME_INCOME_TYPE_Businessman -0.0016899319313440605
WALLSMATERIAL_MODE_Mixed -0.0017130120928860325
FLAG_EMAIL -0.0017583834312559234
AMT_REQ_CREDIT_BUREAU_QRT -0.001842385514890185
ORGANIZATION_TYPE_Industry: type 5 -0.0019916750400935167
SK_ID_CURR -0.002108469018198219
Unnamed: 0 -0.002110895852496667
NAME_INCOME_TYPE_Student -0.0022673110990692013
WEEKDAY_APPR_PROCESS_START_SATURDAY -0.0023963359371464575
OCCUPATION_TYPE_IT staff -0.0024448667370645712
OCCUPATION_TYPE_Secretaries -0.002451710160958644
ORGANIZATION_TYPE_Trade: type 4 -0.0026205235252037395
OCCUPATION_TYPE_HR staff -0.0026389067004854404
NAME_TYPE_SUITE_Children -0.002647822521592345
FONDKAPREMONT_MODE_not specified -0.0026673565325680076
FLAG_DOCUMENT_4 -0.002672082170160823
ORGANIZATION_TYPE_Electricity -0.002945252391985467
ORGANIZATION_TYPE_Trade: type 2 -0.003105332604976039
ORGANIZATION_TYPE_Culture -0.0032649914639743902
ORGANIZATION_TYPE_Transport: type 1 -0.0033752431971381548
FLAG_DOCUMENT_17 -0.0033775691474114636
ORGANIZATION_TYPE_Hotel -0.0034096887900165905
ORGANIZATION_TYPE_Other -0.0037837850228752824
ORGANIZATION_TYPE_Insurance -0.0038495235189570697
ORGANIZATION_TYPE_Services -0.003870969304640873
AMT_INCOME_TOTAL -0.003981865601206195
FLAG_DOCUMENT_11 -0.004229349652162626
FLAG_DOCUMENT_9 -0.004352408580843916
OCCUPATION_TYPE_Private service staff -0.0050469001026825795
NAME_HOUSING_TYPE_Office apartment -0.005102920985845794
WEEKDAY_APPR_PROCESS_START_MONDAY -0.005149270522673639
NAME_EDUCATION_TYPE_Academic degree -0.005294285204458532
ORGANIZATION_TYPE_Industry: type 9 -0.005378514581982032
ORGANIZATION_TYPE_Industry: type 12 -0.005444197971604329
ORGANIZATION_TYPE_Kindergarten -0.005764183870330006
ORGANIZATION_TYPE_Trade: type 6 -0.005787609924431602
YEARS_BEGINEXPLUATATION_MODE -0.006055035517776367
LANDAREA_MODE -0.006065941034594005
FLAG_OWN_REALTY_Y -0.006148387704571192
LANDAREA_AVG -0.006489681582515895
YEARS_BEGINEXPLUATATION_AVG -0.00651820398412949
FLAG_DOCUMENT_15 -0.006535657584098842
YEARS_BEGINEXPLUATATION_MEDI -0.0066960556764292245
LANDAREA_MEDI -0.006710879267084964
WALLSMATERIAL_MODE_Block -0.00677681439393504
ORGANIZATION_TYPE_Government -0.007520401786990431
ORGANIZATION_TYPE_University -0.007671833701669798
NONLIVINGAREA_MODE -0.007911261246097503
FLAG_DOCUMENT_18 -0.007952385099462132
FLAG_DOCUMENT_8 -0.008040384466062388
NAME_TYPE_SUITE_Family -0.00822629053074338
NONLIVINGAREA_MEDI -0.008301004112380507
COMMONAREA_MODE -0.008350327520823717
NONLIVINGAREA_AVG -0.008451224383891174
OCCUPATION_TYPE_Medicine staff -0.00851442212976081
WALLSMATERIAL_MODE_Monolithic -0.009383663773905591
FLAG_DOCUMENT_14 -0.009463821935578707
ORGANIZATION_TYPE_Security Ministries -0.009470318474673852
COMMONAREA_AVG -0.009479348379289708
COMMONAREA_MEDI -0.009491207887943626
ORGANIZATION_TYPE_Bank -0.009609381212454225
ORGANIZATION_TYPE_Police -0.009886470996795451
ORGANIZATION_TYPE_Military -0.010057211128559637
ORGANIZATION_TYPE_Medicine -0.010618924847165832
AMT_CREDIT -0.01108875007967376
FONDKAPREMONT_MODE_reg oper spec account -0.011257388613407235
FONDKAPREMONT_MODE_org spec account -0.01128481721370765
AMT_REQ_CREDIT_BUREAU_MON -0.011355788672254988
ENTRANCES_MODE -0.011438329747883636
FLAG_DOCUMENT_13 -0.011583222341426641
FLAG_DOCUMENT_16 -0.011614671588299076
YEARS_BUILD_MODE -0.011857310526819502
YEARS_BUILD_AVG -0.0119008751709789
NAME_INCOME_TYPE_Commercial associate -0.011905633271826465
BASEMENTAREA_MODE -0.01194673123730126
YEARS_BUILD_MEDI -0.011995785657201165
LIVINGAPARTMENTS_MODE -0.012233792438649789
ENTRANCES_MEDI -0.012515451251491904
ENTRANCES_AVG -0.012612435357169048
WALLSMATERIAL_MODE_Stone, brick -0.012656659303491495
AMT_ANNUITY -0.012816539553795301
LIVINGAPARTMENTS_MEDI -0.012875686161630016
LIVINGAPARTMENTS_AVG -0.013090032676000793
BASEMENTAREA_MEDI -0.013221488627907533
BASEMENTAREA_AVG -0.013619357148092384
ORGANIZATION_TYPE_School -0.013671152344889961
OCCUPATION_TYPE_High skill tech staff -0.01376566509547977
AMT_CREDIT_y -0.015782372252096565
AMT_CREDIT_x.1 -0.015782372252096565
AMT_CREDIT_y.1 -0.015782372252096565
FLOORSMIN_MODE -0.017243904491626473
FLOORSMIN_MEDI -0.017611198708846573
FLOORSMIN_AVG -0.017726807033833267
APARTMENTS_MODE -0.01788529489088075
OCCUPATION_TYPE_Managers -0.018647997265512636
APARTMENTS_MEDI -0.019130721586030276
APARTMENTS_AVG -0.01933642951384091
NAME_FAMILY_STATUS_Widow -0.01939446393100991
LIVINGAREA_MODE -0.02027601558200119
OCCUPATION_TYPE_Core staff -0.020377891840840157
ELEVATORS_MODE -0.020430143299247305
ELEVATORS_MEDI -0.021531223521132962
OCCUPATION_TYPE_Accountants -0.021610466696593316
LIVINGAREA_MEDI -0.021633715274992447
ELEVATORS_AVG -0.021744811458585526
LIVINGAREA_AVG -0.02180408818035701
FLAG_OWN_CAR_Y -0.02185093846383017
TOTALAREA_MODE -0.021942723069368546
FONDKAPREMONT_MODE_reg oper account -0.022587038083265898
NAME_INCOME_TYPE_State servant -0.023446849106695408
FLAG_PHONE -0.02380627233035645
HOUR_APPR_PROCESS_START -0.024165831430095305
NAME_FAMILY_STATUS_Married -0.025042815127005506
NAME_HOUSING_TYPE_House / apartment -0.0285548928139218
FLAG_DOCUMENT_6 -0.028601893973072248
FLOORSMAX_MODE -0.028630549199543016
FLOORSMAX_MEDI -0.02898931167655227
FLOORSMAX_AVG -0.029145259647866285
AMT_CREDIT_x -0.030369286461437394
NAME_CONTRACT_TYPE_Revolving loans -0.0308959081610508
WALLSMATERIAL_MODE_Panel -0.03311904906881124
REGION_POPULATION_RELATIVE -0.037227148542456026
AMT_GOODS_PRICE -0.03962840801665996
HOUSETYPE_MODE_block of flats -0.04059395087344902
EMERGENCYSTATE_MODE_No -0.04220136001420182
DAYS_EMPLOYED -0.04493166265774077
ORGANIZATION_TYPE_XNA -0.045987078415582354
NAME_INCOME_TYPE_Pensioner -0.04620942278663287
CODE_GENDER_F -0.054704053178818726
NAME_EDUCATION_TYPE_Higher education -0.056592644140998315
EXT_SOURCE_1 -0.09915249764946067
EXT_SOURCE_3 -0.15739659264733483
EXT_SOURCE_2 -0.16030315249687932

In [14]:
X_train, X_test, y_train, y_test = train_test_split(num_dataset.drop('TARGET', 1), 
                                    num_dataset['TARGET'], test_size = .2, random_state=42,shuffle=True)

In [15]:
# SMOTE: Overclassing Minority Classification

sum_1 = sum(y_train==1)
sum_0 = sum(y_train==0)

print('Total Data', len(y_train))
print('Imbalance: [-]', sum_0, '[+]', sum_1)

print("\nPerforming SMOTE on training data set\n")
sm = SMOTE(random_state=2)
X_train_res, y_train_res = sm.fit_sample(X_train, y_train.ravel())

sum_1 = sum(y_train_res==1)
sum_0 = sum(y_train_res==0)

print('Total Data', len(y_train_res))
print('Imbalance: [-]', sum_0, '[+]', sum_1)

Total Data 246008
Imbalance: [-] 226132 [+] 19876

Performing SMOTE on training data set

Total Data 452264
Imbalance: [-] 226132 [+] 226132

In [16]:
#amount of rows in input data
X_train_res.shape[0]

452264

In [17]:
#amount of columns in input data
len(X_train_res.columns)

251

In [18]:
X_train_res['AMT_CREDIT_LIMIT_ACTUAL']

0         151875.00000
1              0.00000
2              0.00000
3              0.00000
4          93145.16129
              ...
452259         0.00000
452260     90000.00000
452261         0.00000
452262         0.00000
452263         0.00000
Name: AMT_CREDIT_LIMIT_ACTUAL, Length: 452264, dtype: float64

In [19]:
model = DecisionTreeClassifier()
model.fit(X_train_res, y_train_res)
y_pred=model.predict(X_test)

In [20]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8488366421150187

In [21]:
print(confusion_matrix(y_test,y_pred))

[[51415  5139]
 [ 4158   791]]

In [22]:
print("Decision Tree TRAIN score with ",format(model.score(X_train_res, y_train_res)))
print("Decision Tree TEST score with ",format(model.score(X_test, y_test)))

Decision Tree TRAIN score with  1.0
Decision Tree TEST score with  0.8488366421150187

In [23]:
auc = roc_auc_score(y_test, y_pred)
auc

0.5344806823424298

In [24]:
num_dataset.to_csv("full.csv")

In [25]:
#cross_validate
cv_results = cross_validate(model, X_train_res, y_train_res, cv=10)

In [26]:
#score with cross validation
np.mean(cv_results['test_score'])

0.9079768213187801

In [27]:
param_grid = {"criterion": ['entropy', 'gini'],
"min_samples_split": [5,10,15],
"max_depth": [2,3,5],
"min_samples_leaf": [5,10,15],
"max_leaf_nodes": [5,10,15],
}
CV_rfc = GridSearchCV(estimator=model, param_grid=param_grid, cv=3)
CV_rfc.fit(X_train_res, y_train_res)
CV_rfc.best_params_

{'criterion': 'gini',
 'max_depth': 5,
 'max_leaf_nodes': 15,
 'min_samples_leaf': 5,
 'min_samples_split': 5}

In [28]:
model = DecisionTreeClassifier(criterion='entropy', max_depth=2, 
                               max_leaf_nodes=5, min_samples_leaf=5, min_samples_split=5)
model.fit(X_train_res, y_train_res)
y_pred=model.predict(X_test)

In [29]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6368307237045348

In [30]:
print("Decision Tree TRAIN score with ",format(model.score(X_train_res, y_train_res)))
print("Decision Tree TEST score with ",format(model.score(X_test, y_test)))

Decision Tree TRAIN score with  0.6618103585516424
Decision Tree TEST score with  0.6368307237045348

In [31]:
print(confusion_matrix(y_test,y_pred))

[[36540 20014]
 [ 2322  2627]]

In [32]:
auc = roc_auc_score(y_test, y_pred)
auc

0.588461225174361