In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import gc

In [2]:
ls

 application_test.csv             HomeCredit_columns_description.csv
 application_train.csv            LightGBM.ipynb
 bureau_balance.csv              'Model Performance.ipynb'
 bureau.csv                       POS_CASH_balance.csv
 credit_card_balance.csv          previous_application.csv
 Data_Exploration_FullSet.ipynb   sample_submission.csv
 Data_Exploration.ipynb           submission.csv
 feat_eng.csv                     test_feat_eng.csv
 Feature_Eng.ipynb                train_feat_eng.csv
 full.csv

In [3]:
credit_card_balance = pd.read_csv('credit_card_balance.csv')
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [4]:
cred_limit = credit_card_balance.groupby('SK_ID_CURR', as_index=False)['AMT_CREDIT_LIMIT_ACTUAL'].mean()
cred_limit.head()

   SK_ID_CURR  AMT_CREDIT_LIMIT_ACTUAL
0      100006            270000.000000
1      100011            164189.189189
2      100013            131718.750000
3      100021            675000.000000
4      100023            135000.000000

In [5]:
train = pd.read_csv('application_train.csv')
test = pd.read_csv('application_test.csv')
train = train.merge(cred_limit, on = 'SK_ID_CURR', how = 'left')
test = test.merge(cred_limit, on = 'SK_ID_CURR', how = 'left')

train['AMT_CREDIT_LIMIT_ACTUAL'] = train['AMT_CREDIT_LIMIT_ACTUAL'].fillna(0)
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_CREDIT_LIMIT_ACTUAL
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,270000.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
prev_app = pd.read_csv('previous_application.csv')
prev_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
bureau = pd.read_csv('bureau.csv')
bureau

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.0,0,11250.00,11250.0,0.0,0.0,Microloan,-19,NaN
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.5,0,38130.84,0.0,0.0,0.0,Consumer credit,-2493,NaN
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.00,NaN,NaN,0.0,Consumer credit,-967,NaN
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.00,0.0,0.0,0.0,Consumer credit,-1508,NaN
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.00,0.0,NaN,0.0,Microloan,-387,NaN

In [8]:
bureau['CREDIT_ACTIVE'].unique()

array(['Closed', 'Active', 'Sold', 'Bad debt'], dtype=object)

In [9]:
LE = LabelEncoder()
bureau['CREDIT_ACTIVE_BINARY'] = LE.fit_transform(bureau['CREDIT_ACTIVE'])
bureau['CREDIT_ACTIVE_BINARY'].head()

0    2
1    0
2    0
3    0
4    0
Name: CREDIT_ACTIVE_BINARY, dtype: int64

In [10]:
bureau['CREDIT_ACTIVE_BINARY'].unique()

array([2, 0, 3, 1])

In [11]:
def f(x):
    if x == 0:
        y = 1
    else:
        y = 0  
    return y

In [12]:
bureau['CREDIT_ACTIVE_BINARY'] = bureau.apply(lambda x: f(x.CREDIT_ACTIVE_BINARY), axis = 1)

In [13]:
B = bureau[0:10000]
grp = B.groupby(by = ['SK_ID_CURR'])['CREDIT_ACTIVE_BINARY'].sum().reset_index().rename(index=str, columns={'CREDIT_ACTIVE_BINARY': 'ACTIVE_CREDIT_COUNT'})
B = B.merge(grp, on = ['SK_ID_CURR'], how = 'left')
train = train.merge(grp, on = ['SK_ID_CURR'], how = 'left')
test = test.merge(grp, on = ['SK_ID_CURR'], how = 'left')
train
del B['CREDIT_ACTIVE_BINARY']
gc.collect()
print(B.shape)

(10000, 18)

In [14]:
B

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,ACTIVE_CREDIT_COUNT
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,6
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN,6
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN,6
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN,6
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,386412,5726627,Closed,currency 1,-1604,0,-1300.0,-1316.0,NaN,0,27072.0,0.0,NaN,0.0,Consumer credit,-1298,0.0,1
9996,386412,5726628,Closed,currency 1,-1158,0,-975.0,-975.0,NaN,0,26284.5,0.0,NaN,0.0,Consumer credit,-969,0.0,1
9997,386412,5726629,Active,currency 1,-679,0,30948.0,NaN,NaN,0,42750.0,0.0,NaN,0.0,Credit card,-10,0.0,1
9998,215641,5726630,Closed,currency 1,-965,0,-600.0,-604.0,NaN,0,69750.0,0.0,0.0,0.0,Consumer credit,-602,10287.0,0
9999,215641,5726631,Closed,currency 1,-551,0,-4.0,-119.0,NaN,0,135000.0,0.0,NaN,0.0,Consumer credit,-118,10287.0,0

In [15]:
B = bureau[0:10000]
grp = B.groupby(by = ['SK_ID_CURR'])['CREDIT_DAY_OVERDUE'].sum().reset_index().rename(index=str, columns={'CREDIT_DAY_OVERDUE': 'OVERDUE_DAYS_SUM'})
B = B.merge(grp, on = ['SK_ID_CURR'], how = 'left')
train = train.merge(grp, on = ['SK_ID_CURR'], how = 'left')
test = test.merge(grp, on = ['SK_ID_CURR'], how = 'left')
train
gc.collect()
print(B.shape)

(10000, 19)

In [16]:
B

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,CREDIT_ACTIVE_BINARY,OVERDUE_DAYS_SUM
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,0,0
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN,1,0
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN,1,0
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN,1,0
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,386412,5726627,Closed,currency 1,-1604,0,-1300.0,-1316.0,NaN,0,27072.0,0.0,NaN,0.0,Consumer credit,-1298,0.0,0,0
9996,386412,5726628,Closed,currency 1,-1158,0,-975.0,-975.0,NaN,0,26284.5,0.0,NaN,0.0,Consumer credit,-969,0.0,0,0
9997,386412,5726629,Active,currency 1,-679,0,30948.0,NaN,NaN,0,42750.0,0.0,NaN,0.0,Credit card,-10,0.0,1,0
9998,215641,5726630,Closed,currency 1,-965,0,-600.0,-604.0,NaN,0,69750.0,0.0,0.0,0.0,Consumer credit,-602,10287.0,0,0
9999,215641,5726631,Closed,currency 1,-551,0,-4.0,-119.0,NaN,0,135000.0,0.0,NaN,0.0,Consumer credit,-118,10287.0,0,0

In [17]:
train[~train['ACTIVE_CREDIT_COUNT'].isna()]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_CREDIT_LIMIT_ACTUAL,ACTIVE_CREDIT_COUNT,OVERDUE_DAYS_SUM
46,100053,0,Cash loans,F,N,Y,0,202500.0,305221.5,17649.0,...,0,0.0,0.0,0.0,0.0,2.0,4.0,0.000000,1.0,0.0
567,100653,0,Cash loans,F,N,Y,1,247500.0,755856.0,38722.5,...,0,0.0,0.0,0.0,1.0,0.0,2.0,247500.000000,4.0,0.0
693,100802,0,Cash loans,F,N,Y,0,76500.0,499261.5,18949.5,...,0,0.0,0.0,0.0,0.0,0.0,6.0,117947.368421,1.0,0.0
710,100819,0,Cash loans,F,N,N,0,279000.0,1520253.0,44581.5,...,0,0.0,0.0,0.0,0.0,1.0,2.0,247500.000000,6.0,0.0
799,100915,0,Cash loans,F,N,Y,1,63000.0,284400.0,18513.0,...,0,0.0,0.0,0.0,0.0,0.0,2.0,0.000000,1.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306243,454819,0,Cash loans,M,N,N,1,112500.0,450000.0,21109.5,...,0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,2.0,0.0
306446,455046,0,Cash loans,F,N,Y,0,180000.0,814041.0,23800.5,...,0,0.0,0.0,0.0,0.0,0.0,2.0,115000.000000,1.0,0.0
306679,455317,0,Cash loans,F,Y,Y,1,157500.0,916470.0,29565.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,7.0,0.0
307323,456047,1,Cash loans,F,N,Y,0,58500.0,448056.0,17019.0,...,0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,2.0,0.0
307337,456062,0,Cash loans,F,N,Y,0,135000.0,1056447.0,31018.5,...,0,0.0,0.0,0.0,0.0,0.0,2.0,78750.000000,0.0,0.0

In [18]:
train['AMT_CREDIT_TO_ANNUITY_RATIO'] = train['AMT_CREDIT'] / train['AMT_ANNUITY']
test['AMT_CREDIT_TO_ANNUITY_RATIO'] = test['AMT_CREDIT'] / test['AMT_ANNUITY']

In [22]:
train[~train['OVERDUE_DAYS_SUM'].isna()].head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_CREDIT_LIMIT_ACTUAL,ACTIVE_CREDIT_COUNT,OVERDUE_DAYS_SUM,AMT_CREDIT_TO_ANNUITY_RATIO
46,100053,0,Cash loans,F,N,Y,0,202500.0,305221.5,17649.0,...,0.0,0.0,0.0,0.0,2.0,4.0,0.000000,1.0,0.0,17.293983
567,100653,0,Cash loans,F,N,Y,1,247500.0,755856.0,38722.5,...,0.0,0.0,0.0,1.0,0.0,2.0,247500.000000,4.0,0.0,19.519814
693,100802,0,Cash loans,F,N,Y,0,76500.0,499261.5,18949.5,...,0.0,0.0,0.0,0.0,0.0,6.0,117947.368421,1.0,0.0,26.346948
710,100819,0,Cash loans,F,N,N,0,279000.0,1520253.0,44581.5,...,0.0,0.0,0.0,0.0,1.0,2.0,247500.000000,6.0,0.0,34.100535
799,100915,0,Cash loans,F,N,Y,1,63000.0,284400.0,18513.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.000000,1.0,49.0,15.362178

In [19]:
train.to_csv("train_feat_eng.csv")
test.to_csv("test_feat_eng.csv")