In [2]:
import collections
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from imblearn.over_sampling import SMOTE, SVMSMOTE
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score,accuracy_score, confusion_matrix, roc_auc_score
from sklearn.model_selection import cross_val_score, cross_validate, StratifiedKFold, GridSearchCV

In [3]:
ls

 application_train.csv            Feature_Eng.ipynb
 bureau_balance.csv               full.csv
 bureau.csv                       HomeCredit_columns_description.csv
 credit_card_balance.csv          LightGBM.ipynb
 Data_Exploration_FullSet.ipynb  'Model Performance.ipynb'
 Data_Exploration.ipynb           POS_CASH_balance.csv
 feat_eng.csv                     previous_application.csv

In [4]:
dataset = pd.read_csv("feat_eng.csv")

In [5]:
dataset.head()

,Unnamed: 0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_CREDIT_LIMIT_ACTUAL,AMT_CREDIT_TO_ANNUITY_RATIO
0,0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,16.461104
1,1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.234085
2,2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.000000
3,3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,270000.0,10.532818
4,4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.461618

In [6]:
dataset.shape

(307511, 125)

In [7]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Get  columns whose data type is object i.e. string
filteredColumns = dataset.dtypes[dataset.dtypes == np.object]
# list of columns whose data type is object i.e. string
listOfColumnNames = list(filteredColumns.index)
print(listOfColumnNames)

# Label Encoding if there are two categorical labels on a feature)
for col in listOfColumnNames:
    if dataset.dtypes[col] == np.object:
        # If 2 or fewer unique categories
        if len(list(dataset[col].unique())) <= 2:
            # Train on the training data
            le.fit(dataset[col])
            le_count += 1
            
print('%d columns were label encoded.' % le_count)

# One-Hot Encoding (> 2 categorical labels for a feature)
num_dataset = pd.get_dummies(dataset)

['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
3 columns were label encoded.

In [8]:
null_rows = num_dataset[num_dataset.isnull().any(axis=1)]
null_rows

,Unnamed: 0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,...,0,0,0,0,0,0,1,0,1,0
1,1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,...,0,1,0,0,0,0,0,0,1,0
2,2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,...,0,0,0,0,0,0,0,0,0,0
3,3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,...,0,0,0,0,0,0,0,0,0,0
4,4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,307506,456251,0,0,157500.0,254700.0,27558.0,225000.0,0.032561,-9327,...,0,0,0,0,0,0,1,0,1,0
307507,307507,456252,0,0,72000.0,269550.0,12001.5,225000.0,0.025164,-20775,...,0,0,0,0,0,0,1,0,1,0
307508,307508,456253,0,0,153000.0,677664.0,29979.0,585000.0,0.005002,-14966,...,0,0,0,0,0,1,0,0,1,0
307509,307509,456254,1,0,171000.0,370107.0,20205.0,319500.0,0.005313,-11961,...,0,0,0,0,0,0,1,0,1,0
307510,307510,456255,0,0,157500.0,675000.0,49117.5,675000.0,0.046220,-16856,...,0,0,0,0,0,1,0,0,1,0

In [9]:
null_rows.shape

(296160, 249)

What percent of the rows in the data have a null value in at least one column?

In [10]:
null_rows.shape[0]/dataset.shape[0]

0.9630874993089678

97% of the rows have at least one column with a null value. 
How will we handle null values?

In [11]:
dataset.columns

Index(['Unnamed: 0', 'SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE',
       'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       ...
       'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'AMT_CREDIT_LIMIT_ACTUAL',
       'AMT_CREDIT_TO_ANNUITY_RATIO'],
      dtype='object', length=125)

In [12]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp = imp.fit(num_dataset)
new_num_dataset = pd.DataFrame(imp.transform(num_dataset))
new_num_dataset.columns = num_dataset.columns
new_num_dataset.index = num_dataset.index
num_dataset = new_num_dataset

null_rows = num_dataset[num_dataset.isnull().any(axis=1)]
null_rows

Empty DataFrame
Columns: [Unnamed: 0, SK_ID_CURR, TARGET, CNT_CHILDREN, AMT_INCOME_TOTAL, AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE, REGION_POPULATION_RELATIVE, DAYS_BIRTH, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH, OWN_CAR_AGE, FLAG_MOBIL, FLAG_EMP_PHONE, FLAG_WORK_PHONE, FLAG_CONT_MOBILE, FLAG_PHONE, FLAG_EMAIL, CNT_FAM_MEMBERS, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, HOUR_APPR_PROCESS_START, REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, LIVE_CITY_NOT_WORK_CITY, EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3, APARTMENTS_AVG, BASEMENTAREA_AVG, YEARS_BEGINEXPLUATATION_AVG, YEARS_BUILD_AVG, COMMONAREA_AVG, ELEVATORS_AVG, ENTRANCES_AVG, FLOORSMAX_AVG, FLOORSMIN_AVG, LANDAREA_AVG, LIVINGAPARTMENTS_AVG, LIVINGAREA_AVG, NONLIVINGAPARTMENTS_AVG, NONLIVINGAREA_AVG, APARTMENTS_MODE, BASEMENTAREA_MODE, YEARS_BEGINEXPLUATATION_MODE, YEARS_BUILD_MODE, COMMONAREA_MODE, ELEVATORS_MODE, ENTRANCES_MODE, FLOORSMAX_MODE, FLOORSMIN_MODE, LANDAREA_MODE, LIVINGAPARTMENTS_MODE, LIVINGAREA_MODE, NONLIVINGAPARTMENTS_MODE, NONLIVINGAREA_MODE, APARTMENTS_MEDI, BASEMENTAREA_MEDI, YEARS_BEGINEXPLUATATION_MEDI, YEARS_BUILD_MEDI, COMMONAREA_MEDI, ELEVATORS_MEDI, ENTRANCES_MEDI, FLOORSMAX_MEDI, FLOORSMIN_MEDI, LANDAREA_MEDI, LIVINGAPARTMENTS_MEDI, LIVINGAREA_MEDI, NONLIVINGAPARTMENTS_MEDI, NONLIVINGAREA_MEDI, TOTALAREA_MODE, OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE, DAYS_LAST_PHONE_CHANGE, FLAG_DOCUMENT_2, FLAG_DOCUMENT_3, FLAG_DOCUMENT_4, FLAG_DOCUMENT_5, FLAG_DOCUMENT_6, FLAG_DOCUMENT_7, FLAG_DOCUMENT_8, FLAG_DOCUMENT_9, FLAG_DOCUMENT_10, FLAG_DOCUMENT_11, FLAG_DOCUMENT_12, FLAG_DOCUMENT_13, FLAG_DOCUMENT_14, FLAG_DOCUMENT_15, FLAG_DOCUMENT_16, FLAG_DOCUMENT_17, FLAG_DOCUMENT_18, FLAG_DOCUMENT_19, FLAG_DOCUMENT_20, ...]
Index: []

[0 rows x 249 columns]

In [13]:
num_dataset.shape

(307511, 249)

In [14]:
num_dataset.head()

,Unnamed: 0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,0.0,100002.0,1.0,0.0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1.0,100003.0,0.0,0.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2.0,100004.0,0.0,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,100006.0,0.0,0.0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,100007.0,0.0,0.0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
correls = {}
counter = -1
for col in num_dataset.columns:
    counter+=1
    c = num_dataset['TARGET'].corr(num_dataset[col])
    if c is not None:
        correls[col] = float(c)
    else:
        correls[col] = (None)

In [16]:
for w in sorted(correls, key=correls.get, reverse=True):
    print(w, correls[w])

TARGET 1.0
DAYS_BIRTH 0.07823930830982712
REGION_RATING_CLIENT_W_CITY 0.0608926675648237
REGION_RATING_CLIENT 0.05889901494571248
NAME_INCOME_TYPE_Working 0.05748118481836544
DAYS_LAST_PHONE_CHANGE 0.05521847562884968
CODE_GENDER_M 0.05471268197127142
DAYS_ID_PUBLISH 0.051457172607057504
REG_CITY_NOT_WORK_CITY 0.05099446436812682
NAME_EDUCATION_TYPE_Secondary / secondary special 0.04982373084813319
FLAG_EMP_PHONE 0.045982219716592596
REG_CITY_NOT_LIVE_CITY 0.044395374805701
FLAG_DOCUMENT_3 0.04434634685114509
OCCUPATION_TYPE_Laborers 0.04301895495530795
DAYS_REGISTRATION 0.0419748628314172
LIVE_CITY_NOT_WORK_CITY 0.032518341101499294
DEF_30_CNT_SOCIAL_CIRCLE 0.03222153390591384
DEF_60_CNT_SOCIAL_CIRCLE 0.03125121111173648
NAME_CONTRACT_TYPE_Cash loans 0.030895908161047914
OCCUPATION_TYPE_Drivers 0.03030349991494772
NAME_HOUSING_TYPE_With parents 0.02996585666593053
ORGANIZATION_TYPE_Self-employed 0.029138816170825095
FLAG_WORK_PHONE 0.028524322363217617
OCCUPATION_TYPE_Low-skill Laborers 0.027590818570870146
NAME_FAMILY_STATUS_Single / not married 0.026518182409827274
ORGANIZATION_TYPE_Business Entity Type 3 0.023992520321204126
NAME_FAMILY_STATUS_Civil marriage 0.022496268115694627
FLAG_OWN_CAR_N 0.02185093846383569
OWN_CAR_AGE 0.020871120003287894
ORGANIZATION_TYPE_Construction 0.01979185740587881
NAME_HOUSING_TYPE_Rented apartment 0.019767212144090565
OCCUPATION_TYPE_Sales staff 0.019537264950095973
CNT_CHILDREN 0.019187133596270053
AMT_REQ_CREDIT_BUREAU_YEAR 0.01816013873708487
ORGANIZATION_TYPE_Transport: type 3 0.017551864569600093
OCCUPATION_TYPE_Security staff 0.014648392492757536
OCCUPATION_TYPE_Cooking staff 0.012221887997700803
NAME_EDUCATION_TYPE_Lower secondary 0.011746907779560311
ORGANIZATION_TYPE_Restaurant 0.010265581100006962
ORGANIZATION_TYPE_Industry: type 3 0.009691051180979376
CNT_FAM_MEMBERS 0.009307781738417778
OBS_30_CNT_SOCIAL_CIRCLE 0.009123291153639124
OBS_60_CNT_SOCIAL_CIRCLE 0.009014856730914034
ORGANIZATION_TYPE_Trade: type 3 0.008910974898960616
NAME_INCOME_TYPE_Unemployed 0.008784255390104096
NAME_TYPE_SUITE_Unaccompanied 0.008300874057204347
ORGANIZATION_TYPE_Trade: type 7 0.008169509158975984
WALLSMATERIAL_MODE_Wooden 0.007946354272316372
ORGANIZATION_TYPE_Agriculture 0.007901117983435086
OCCUPATION_TYPE_Waiters/barmen staff 0.007801903741506695
ORGANIZATION_TYPE_Security 0.00722607215137579
OCCUPATION_TYPE_Cleaning staff 0.006978888160051244
REG_REGION_NOT_WORK_REGION 0.006941907545371692
ORGANIZATION_TYPE_Industry: type 1 0.006402340351265635
FLAG_OWN_REALTY_N 0.006148387704570303
ORGANIZATION_TYPE_Transport: type 4 0.005929012434526165
AMT_CREDIT_LIMIT_ACTUAL 0.0057325747246218806
REG_REGION_NOT_LIVE_REGION 0.00557594452090834
FLAG_DOCUMENT_2 0.005417144279619435
HOUSETYPE_MODE_specific housing 0.005311049709137709
NAME_TYPE_SUITE_Other_B 0.004909081791168078
EMERGENCYSTATE_MODE_Yes 0.004828865512243656
NAME_INCOME_TYPE_Maternity leave 0.004725870316716508
WEEKDAY_APPR_PROCESS_START_TUESDAY 0.004698054879488351
ORGANIZATION_TYPE_Industry: type 4 0.004074224985598712
FLAG_DOCUMENT_21 0.0037086250293066132
ORGANIZATION_TYPE_Realtor 0.0033390796299802355
NAME_HOUSING_TYPE_Municipal apartment 0.0033292686030267546
ORGANIZATION_TYPE_Cleaning 0.003289959496264335
ORGANIZATION_TYPE_Business Entity Type 2 0.003152037579192659
ORGANIZATION_TYPE_Industry: type 13 0.00290455309327881
LIVE_REGION_NOT_WORK_REGION 0.0028194791841589946
NAME_EDUCATION_TYPE_Incomplete higher 0.0028127690501116697
AMT_REQ_CREDIT_BUREAU_DAY 0.002464257538748601
ORGANIZATION_TYPE_Industry: type 11 0.0020086493539223436
WEEKDAY_APPR_PROCESS_START_WEDNESDAY 0.0014474879944789886
ORGANIZATION_TYPE_Industry: type 8 0.001435744697390702
NAME_TYPE_SUITE_Other_A 0.0013715818087853627
ORGANIZATION_TYPE_Mobile 0.0012680907236234768
WEEKDAY_APPR_PROCESS_START_FRIDAY 0.0012025244233657762
NAME_FAMILY_STATUS_Separated 0.001167649105664295
ORGANIZATION_TYPE_Postal 0.001125376494294421
ORGANIZATION_TYPE_Trade: type 1 0.001031907645751885
HOUSETYPE_MODE_terraced house 0.000982447124639566
AMT_REQ_CREDIT_BUREAU_HOUR 0.0008478053136984376
AMT_REQ_CREDIT_BUREAU_WEEK 0.0007177649853892611
WALLSMATERIAL_MODE_Others 0.0006282435192422099
FLAG_MOBIL 0.0005343955790282348
NAME_TYPE_SUITE_Group of people 0.00045156763305929286
WEEKDAY_APPR_PROCESS_START_THURSDAY 0.0004458867736010286
FLAG_CONT_MOBILE 0.00037012680234890593
ORGANIZATION_TYPE_Business Entity Type 1 0.0003386506512333673
FLAG_DOCUMENT_20 0.00021539355797727452
ORGANIZATION_TYPE_Advertising 0.00011748220212479823
ORGANIZATION_TYPE_Industry: type 7 -9.405271151196253e-05
ORGANIZATION_TYPE_Legal Services -0.00023598906873486703
NAME_HOUSING_TYPE_Co-op apartment -0.00031236692480537514
FLAG_DOCUMENT_5 -0.00031577741664631055
OCCUPATION_TYPE_Realty agents -0.0003935716012768577
ORGANIZATION_TYPE_Housing -0.0004642395738526758
ORGANIZATION_TYPE_Industry: type 6 -0.0006516526920781393
ORGANIZATION_TYPE_Telecom -0.0007118068865132566
FLAG_DOCUMENT_12 -0.000755750704357889
NAME_FAMILY_STATUS_Unknown -0.0007557507043578912
NONLIVINGAPARTMENTS_MODE -0.000801371794397575
ORGANIZATION_TYPE_Transport: type 2 -0.0008386382341174748
ORGANIZATION_TYPE_Trade: type 5 -0.0009038517880430437
CODE_GENDER_XNA -0.001068796371540462
ORGANIZATION_TYPE_Industry: type 10 -0.0011411296041352157
ORGANIZATION_TYPE_Industry: type 2 -0.0012300716107088692
WEEKDAY_APPR_PROCESS_START_SUNDAY -0.00124428962069995
ORGANIZATION_TYPE_Religion -0.0013370635523446697
FLAG_DOCUMENT_19 -0.0013575183243008464
FLAG_DOCUMENT_10 -0.001413891597524122
NONLIVINGAPARTMENTS_MEDI -0.0014194762308886873
NAME_TYPE_SUITE_Spouse, partner -0.001447828494837701
ORGANIZATION_TYPE_Emergency -0.0014582026891058852
FLAG_DOCUMENT_7 -0.00151950316008796
NONLIVINGAPARTMENTS_AVG -0.0016351708895813776
NAME_INCOME_TYPE_Businessman -0.0016899319313415954
WALLSMATERIAL_MODE_Mixed -0.001713012092884663
FLAG_EMAIL -0.0017583834312546156
AMT_REQ_CREDIT_BUREAU_QRT -0.001842385514890303
ORGANIZATION_TYPE_Industry: type 5 -0.0019916750400937933
SK_ID_CURR -0.002108469018197723
Unnamed: 0 -0.0021108958524961707
NAME_INCOME_TYPE_Student -0.002267311099070025
WEEKDAY_APPR_PROCESS_START_SATURDAY -0.0023963359371446933
OCCUPATION_TYPE_IT staff -0.0024448667370664126
OCCUPATION_TYPE_Secretaries -0.002451710160956514
ORGANIZATION_TYPE_Trade: type 4 -0.002620523525202693
OCCUPATION_TYPE_HR staff -0.0026389067004829484
NAME_TYPE_SUITE_Children -0.0026478225215885404
FONDKAPREMONT_MODE_not specified -0.0026673565325681637
FLAG_DOCUMENT_4 -0.002672082170162108
ORGANIZATION_TYPE_Electricity -0.0029452523919879514
ORGANIZATION_TYPE_Trade: type 2 -0.0031053326049813685
ORGANIZATION_TYPE_Culture -0.0032649914639716706
ORGANIZATION_TYPE_Transport: type 1 -0.00337524319713929
FLAG_DOCUMENT_17 -0.0033775691474138875
ORGANIZATION_TYPE_Hotel -0.0034096887900142495
ORGANIZATION_TYPE_Other -0.0037837850228734445
ORGANIZATION_TYPE_Insurance -0.0038495235189540964
ORGANIZATION_TYPE_Services -0.0038709693046358423
AMT_INCOME_TOTAL -0.003981865601205666
FLAG_DOCUMENT_11 -0.004229349652160117
FLAG_DOCUMENT_9 -0.004352408580842205
OCCUPATION_TYPE_Private service staff -0.005046900102683713
NAME_HOUSING_TYPE_Office apartment -0.0051029209858467406
WEEKDAY_APPR_PROCESS_START_MONDAY -0.0051492705226744455
NAME_EDUCATION_TYPE_Academic degree -0.00529428520446023
ORGANIZATION_TYPE_Industry: type 9 -0.005378514581978252
ORGANIZATION_TYPE_Industry: type 12 -0.005444197971605915
ORGANIZATION_TYPE_Kindergarten -0.005764183870326977
ORGANIZATION_TYPE_Trade: type 6 -0.005787609924429907
YEARS_BEGINEXPLUATATION_MODE -0.0060550355177745796
LANDAREA_MODE -0.00606594103459275
FLAG_OWN_REALTY_Y -0.006148387704570281
LANDAREA_AVG -0.0064896815825143265
YEARS_BEGINEXPLUATATION_AVG -0.006518203984127422
FLAG_DOCUMENT_15 -0.0065356575840950564
YEARS_BEGINEXPLUATATION_MEDI -0.006696055676428215
LANDAREA_MEDI -0.006710879267083577
WALLSMATERIAL_MODE_Block -0.006776814393931781
ORGANIZATION_TYPE_Government -0.007520401786995496
ORGANIZATION_TYPE_University -0.0076718337016648
NONLIVINGAREA_MODE -0.007911261246097152
FLAG_DOCUMENT_18 -0.00795238509946249
FLAG_DOCUMENT_8 -0.008040384466056674
NAME_TYPE_SUITE_Family -0.00822629053074484
NONLIVINGAREA_MEDI -0.008301004112377405
COMMONAREA_MODE -0.008350327520821717
NONLIVINGAREA_AVG -0.00845122438388992
OCCUPATION_TYPE_Medicine staff -0.008514422129754897
WALLSMATERIAL_MODE_Monolithic -0.009383663773904602
FLAG_DOCUMENT_14 -0.009463821935576995
ORGANIZATION_TYPE_Security Ministries -0.009470318474672309
COMMONAREA_AVG -0.009479348379287298
COMMONAREA_MEDI -0.009491207887941415
ORGANIZATION_TYPE_Bank -0.009609381212450658
ORGANIZATION_TYPE_Police -0.009886470996787257
ORGANIZATION_TYPE_Military -0.010057211128556457
ORGANIZATION_TYPE_Medicine -0.010618924847167626
FONDKAPREMONT_MODE_reg oper spec account -0.011257388613412148
FONDKAPREMONT_MODE_org spec account -0.011284817213703
AMT_REQ_CREDIT_BUREAU_MON -0.011355788672250762
ENTRANCES_MODE -0.011438329747879679
FLAG_DOCUMENT_13 -0.011583222341419503
FLAG_DOCUMENT_16 -0.01161467158829342
YEARS_BUILD_MODE -0.011857310526816857
YEARS_BUILD_AVG -0.011900875170975817
NAME_INCOME_TYPE_Commercial associate -0.011905633271823647
BASEMENTAREA_MODE -0.011946731237298978
YEARS_BUILD_MEDI -0.011995785657198301
LIVINGAPARTMENTS_MODE -0.012233792438647107
ENTRANCES_MEDI -0.012515451251491571
ENTRANCES_AVG -0.012612435357164992
WALLSMATERIAL_MODE_Stone, brick -0.012656659303489285
AMT_ANNUITY -0.012816539553792413
LIVINGAPARTMENTS_MEDI -0.012875686161626872
LIVINGAPARTMENTS_AVG -0.013090032675997926
BASEMENTAREA_MEDI -0.013221488627904197
BASEMENTAREA_AVG -0.013619357148088838
ORGANIZATION_TYPE_School -0.013671152344879268
OCCUPATION_TYPE_High skill tech staff -0.013765665095471462
FLOORSMIN_MODE -0.017243904491623246
FLOORSMIN_MEDI -0.017611198708841733
FLOORSMIN_AVG -0.017726807033828396
APARTMENTS_MODE -0.017885294890876827
OCCUPATION_TYPE_Managers -0.018647997265506602
APARTMENTS_MEDI -0.019130721586025353
APARTMENTS_AVG -0.019336429513835934
NAME_FAMILY_STATUS_Widow -0.019394463931000017
LIVINGAREA_MODE -0.02027601558199642
OCCUPATION_TYPE_Core staff -0.0203778918408376
ELEVATORS_MODE -0.020430143299241418
ELEVATORS_MEDI -0.021531223521120763
OCCUPATION_TYPE_Accountants -0.021610466696587994
LIVINGAREA_MEDI -0.02163371527498719
ELEVATORS_AVG -0.02174481145857721
LIVINGAREA_AVG -0.021804088180351733
FLAG_OWN_CAR_Y -0.02185093846383566
TOTALAREA_MODE -0.021942723069363394
FONDKAPREMONT_MODE_reg oper account -0.022587038083252416
NAME_INCOME_TYPE_State servant -0.02344684910669615
FLAG_PHONE -0.023806272330357297
HOUR_APPR_PROCESS_START -0.02416583143009444
NAME_FAMILY_STATUS_Married -0.025042815127007966
NAME_HOUSING_TYPE_House / apartment -0.028554892813926275
FLAG_DOCUMENT_6 -0.02860189397306151
FLOORSMAX_MODE -0.028630549199543144
FLOORSMAX_MEDI -0.028989311676548276
FLOORSMAX_AVG -0.029145259647863332
AMT_CREDIT -0.030369286461429775
NAME_CONTRACT_TYPE_Revolving loans -0.030895908161047918
AMT_CREDIT_TO_ANNUITY_RATIO -0.03210146183025041
WALLSMATERIAL_MODE_Panel -0.03311904906882061
REGION_POPULATION_RELATIVE -0.03722714854244537
AMT_GOODS_PRICE -0.03962840801665495
HOUSETYPE_MODE_block of flats -0.04059395087343353
EMERGENCYSTATE_MODE_No -0.04220136001418552
DAYS_EMPLOYED -0.044931662657738784
ORGANIZATION_TYPE_XNA -0.045987078415578767
NAME_INCOME_TYPE_Pensioner -0.04620942278662062
CODE_GENDER_F -0.05470405317880801
NAME_EDUCATION_TYPE_Higher education -0.05659264414096392
EXT_SOURCE_1 -0.09915249764943727
EXT_SOURCE_3 -0.1573965926472951
EXT_SOURCE_2 -0.16030315249684124

In [17]:
X_train, X_test, y_train, y_test = train_test_split(num_dataset.drop('TARGET', 1), 
                                    num_dataset['TARGET'], test_size = .2, random_state=42,shuffle=True)

In [18]:
# SMOTE: Overclassing Minority Classification

sum_1 = sum(y_train==1)
sum_0 = sum(y_train==0)

print('Total Data', len(y_train))
print('Imbalance: [-]', sum_0, '[+]', sum_1)

print("\nPerforming SMOTE on training data set\n")
sm = SMOTE(random_state=2)
X_train_res, y_train_res = sm.fit_sample(X_train, y_train.ravel())

sum_1 = sum(y_train_res==1)
sum_0 = sum(y_train_res==0)

print('Total Data', len(y_train_res))
print('Imbalance: [-]', sum_0, '[+]', sum_1)

Total Data 246008
Imbalance: [-] 226132 [+] 19876

Performing SMOTE on training data set

Total Data 452264
Imbalance: [-] 226132 [+] 226132

In [19]:
#amount of rows in input data
X_train_res.shape[0]

452264

In [20]:
#amount of columns in input data
len(X_train_res.columns)

248

In [21]:
X_train_res['AMT_CREDIT_LIMIT_ACTUAL']

0         151875.000000
1              0.000000
2              0.000000
3              0.000000
4          93145.161290
              ...
452259         0.000000
452260     90000.000000
452261     25379.000232
452262         0.000000
452263         0.000000
Name: AMT_CREDIT_LIMIT_ACTUAL, Length: 452264, dtype: float64

In [22]:
model = DecisionTreeClassifier()
model.fit(X_train_res, y_train_res)
y_pred=model.predict(X_test)

In [23]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8474545957107783

In [24]:
print(confusion_matrix(y_test,y_pred))

[[51335  5219]
 [ 4163   786]]

In [25]:
print("Decision Tree TRAIN score with ",format(model.score(X_train_res, y_train_res)))
print("Decision Tree TEST score with ",format(model.score(X_test, y_test)))

Decision Tree TRAIN score with  1.0
Decision Tree TEST score with  0.8474545957107783

In [26]:
auc = roc_auc_score(y_test, y_pred)
auc

0.5332682411772409

In [27]:
num_dataset.to_csv("full.csv")

In [28]:
#cross_validate
cv_results = cross_validate(model, X_train_res, y_train_res, cv=10)

In [29]:
#score with cross validation
np.mean(cv_results['test_score'])

0.9087993481304706

In [30]:
param_grid = {"criterion": ['entropy', 'gini'],
"min_samples_split": [5,10,15],
"max_depth": [2,3,5],
"min_samples_leaf": [5,10,15],
"max_leaf_nodes": [5,10,15],
}
CV_rfc = GridSearchCV(estimator=model, param_grid=param_grid, cv=3)
CV_rfc.fit(X_train_res, y_train_res)
CV_rfc.best_params_

{'criterion': 'gini',
 'max_depth': 5,
 'max_leaf_nodes': 15,
 'min_samples_leaf': 5,
 'min_samples_split': 5}

In [31]:
model = DecisionTreeClassifier(**CV_rfc.best_params_)
model.fit(X_train_res, y_train_res)
pred=model.predict_proba(num_dataset.drop('TARGET', 1))
pred

array([[0.65070894, 0.34929106],
       [0.88585244, 0.11414756],
       [0.7746211 , 0.2253789 ],
       ...,
       [0.83342366, 0.16657634],
       [0.88585244, 0.11414756],
       [0.83342366, 0.16657634]])

In [40]:
pred[:, 1]

array([0.34929106, 0.11414756, 0.2253789 , ..., 0.16657634, 0.11414756,
       0.16657634])

In [54]:
probDF = pd.DataFrame(pred[:, 1], columns =['Probs']) 
probDF[probDF.isna()==True]

        Probs
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
307506    NaN
307507    NaN
307508    NaN
307509    NaN
307510    NaN

[307511 rows x 1 columns]

In [41]:
num_dataset.columns

Index(['Unnamed: 0', 'SK_ID_CURR', 'TARGET', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       ...
       'HOUSETYPE_MODE_terraced house', 'WALLSMATERIAL_MODE_Block',
       'WALLSMATERIAL_MODE_Mixed', 'WALLSMATERIAL_MODE_Monolithic',
       'WALLSMATERIAL_MODE_Others', 'WALLSMATERIAL_MODE_Panel',
       'WALLSMATERIAL_MODE_Stone, brick', 'WALLSMATERIAL_MODE_Wooden',
       'EMERGENCYSTATE_MODE_No', 'EMERGENCYSTATE_MODE_Yes'],
      dtype='object', length=249)

In [64]:
IDs = num_dataset[['SK_ID_CURR']]
IDs

        SK_ID_CURR
0         100002.0
1         100003.0
2         100004.0
3         100006.0
4         100007.0
...            ...
307506    456251.0
307507    456252.0
307508    456253.0
307509    456254.0
307510    456255.0

[307511 rows x 1 columns]

In [58]:
num_dataset[num_dataset['SK_ID_CURR']==456251.0]

,Unnamed: 0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
307506,307506.0,456251.0,0.0,0.0,157500.0,254700.0,27558.0,225000.0,0.032561,-9327.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [79]:
submission = pd.DataFrame({'SK_ID_CURR': IDs.SK_ID_CURR.tolist(),
'TARGET': probDF.Probs.tolist()})

In [80]:
submission.head()

   SK_ID_CURR    TARGET
0    100002.0  0.349291
1    100003.0  0.114148
2    100004.0  0.225379
3    100006.0  0.169950
4    100007.0  0.225379

In [81]:
submission[~submission.isna()]

        SK_ID_CURR    TARGET
0         100002.0  0.349291
1         100003.0  0.114148
2         100004.0  0.225379
3         100006.0  0.169950
4         100007.0  0.225379
...            ...       ...
307506    456251.0  0.225379
307507    456252.0  0.114148
307508    456253.0  0.166576
307509    456254.0  0.114148
307510    456255.0  0.166576

[307511 rows x 2 columns]

In [83]:
submission.to_csv("submission.csv", index=False)

In [32]:
#print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [33]:
#print("Decision Tree TRAIN score with ",format(model.score(X_train_res, y_train_res)))
#print("Decision Tree TEST score with ",format(model.score(X_test, y_test)))

In [34]:
#print(confusion_matrix(y_test,y_pred))

In [35]:
#auc = roc_auc_score(y_test, y_pred)
#auc